* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: #f4f7f6;
}

.sidebar {
    width: 270px;
    background: #fff;
    color: #222;
    height: 100vh;
    padding: 20px 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    font-weight: 600;
    font-size: 16px;
}

.admin-info {
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.admin-info img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 10px;
}

.admin-info li {
    list-style-type: none;
}
.sidebar ul {
    border-top: 2px solid rgba(9, 9, 9, 0.3);
    list-style: none;
    width: 100%;
    padding: 0;
}

.sidebar ul li {
    padding: 22px 30px;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: 0.3s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
    color: #222;
    background: transparent;
}

.sidebar ul li a {
    color: #222;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.sidebar ul li:hover {
    background: #e6f0ff;
    color: #3366ff;
}

.sidebar ul li:hover a {
    color: #3366ff;
}

.sidebar ul li.active {
    background: #e6f0ff;
    color: #3366ff;
    font-weight: bold;
    border-left: 4px solid #3366ff;
}
.sidebar ul li.active a {
    color: #3366ff;
}

.main-content {
    margin-left: 260px;
    padding: 20px;
    width: calc(100% - 260px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #3366ff, #5a8dee);
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.logout-btn {
    background: white;
    color: rgb(51, 102, 255);
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.logout-btn:hover {
    background: #1e4d45;
    color: white;
}

.content {
    width: 124%;
    margin-left: -280px;
}